@{
    ViewData["Title"] = "Distribuidor2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AutoLand</h1>

<div>
    <img src="/Autoland.png" alt="Descripción de la imagen">
</div>

<div>
    <h2>Título de la descripción</h2>
    <p>Esta es la descripción del distribuidor.</p>
</div>

